.vscode/*
!.vscode/extensions.json
.vs/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

*.VC.db
*.VC.opendb

./x64/*
./Game_Engine/x64/*
./Game_Engine/Debug/*